{%extends 'index.html'%}
{%block contant%}
{% if messages %}
<div class="alert alert-primary" role="alert">
    {%for x in messages%}
  {{x}}
    {%endfor%}
</div>

{% endif %}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Company Information</h4>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form action="{%url 'companyinfosave'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="form-group">
                    <input type="text" class="form-control input-default " placeholder="Company Name" name="name">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="4" id="comment" placeholder="Company Address" name="address"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-default " placeholder="Company Phone Number" name="phone">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-default " placeholder="Company Fax Number" name="fax">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control input-default " placeholder="Company E-Mail Address" name="email">
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="logo" required>
                    <label class="custom-file-label">Choose file</label>
                </div>
                <div class="buttonmy">
                  <button type="submit" class="btn btn-success">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Recent Payments Queue</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>
                                                <th style="width:80px;"><strong>#</strong></th>
                                                <th><strong>Name</strong></th>
                                                <th><strong>Address</strong></th>
                                                <th><strong>Phone</strong></th>
                                                <th><strong>Fax</strong></th>
                                                <th><strong>Email</strong></th>
                                                <th><strong>Logo</strong></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {%for x in company%}
                                            <tr>
                                                <td><strong>{{forloop.counter}}</strong></td>
                                                <td>{{x.name}}</td>
                                                <td>{{x.address}}</td>
                                                <td>{{x.phone}}</td>
                                                <td>{{x.Fax}}</td>
                                                <td>{{x.email}}</td>
                                                <td><img src="{{x.companylogo}}" alt="" id="cimage"></td>
                                                <td>
													<div class="dropdown">
														<button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
															<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
														</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="{%url 'companyinfoedit' x.id%}">Edit</a>
															<a class="dropdown-item" href="{%url 'companyinfodelete' x.id%}">Delete</a>
														</div>
													</div>
												</td>
                                            </tr>
											{%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>

{%endblock%}