{%extends 'index.html'%}
{%block contant%}

<div class="alert alert-primary" role="alert">
    {%for x in messages%}
    {{x}}
    {%endfor%}
</div>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Producer Information</h4>
    </div>
    {%for x in pro%}
    <div class="card-body">
        <div class="basic-form">
            <form action="{%url 'Producerinfoupdate'%}" method="post">
                {%csrf_token%}
                <div class="row">
                    <div class="form-group row col-sm-12">
                        <label class="col-sm-3 col-form-label">Producer Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="pid" value="{{x.id}}">
                        </div>
                    </div>
                    <div class="form-group row col-sm-12">
                        <label class="col-sm-3 col-form-label">Producer Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="pname" value="{{x.name}}">
                        </div>
                    </div>
                    <div class="form-group row col-sm-12">
                        <label class="col-sm-3 col-form-label">Producer Designation</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="pdesignation" value="{{x.designation}}">
                        </div>
                    </div>
                    <div class="form-group row col-sm-12">
                        <label class="col-sm-3 col-form-label">Producer Address</label>
                        <div class="col-sm-9">
                            <textarea  id="" cols="80" rows="10" name="paddress">{{x.address}}</textarea>
                        </div>
                    </div>
                    <div class="form-group row col-sm-12">
                        <label class="col-sm-3 col-form-label">Producer Mobile</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="pmobile" value="{{x.phone}}">
                        </div>
                    </div>

                </div>


                <div class="buttonmy">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>

            </form>
        </div>
    </div>
    {%endfor%}
</div>
<div class="row">
    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Producer information</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>
                                                <th style="width:80px;"><strong>#</strong></th>
                                                <th><strong>Producer Name</strong></th>
                                                <th><strong>Producer Designation</strong></th>
                                                <th><strong>Producer Address</strong></th>
                                                <th><strong>Producer Phone</strong></th>

                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {%for x in producer%}
                                            <tr>
                                                <td><strong>{{forloop.counter}}</strong></td>
                                                <td>{{x.name}}</td>
                                                <td>{{x.designation}}</td>
                                                <td>{{x.address}}</td>
                                                <td>{{x.phone}}</td>
                                                <td>
													<div class="dropdown">
														<button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
															<svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"></rect><circle fill="#000000" cx="5" cy="12" r="2"></circle><circle fill="#000000" cx="12" cy="12" r="2"></circle><circle fill="#000000" cx="19" cy="12" r="2"></circle></g></svg>
														</button>
														<div class="dropdown-menu">
															<a class="dropdown-item" href="{%url 'Producerinfoedit' x.id%}">Edit</a>
															<a class="dropdown-item" href="{%url 'Producerinfodelete' x.id%}">Delete</a>
														</div>
													</div>
												</td>
                                            </tr>
											{%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
{%endblock%}